@import "tailwindcss";

html.dark {
  --background: #0d0d0d;
  --foreground: #facc15;
  --accent: #8b5cf6;
  --title: #facc15;
}

html.light {
  --background: #fef9f4;
  --foreground: #1f2937;
  --accent: #2563eb;
  --title: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
